standard_columns:

  facility_id: string
  facility_name: string
  country: string
  admin1: string
  admin2: string
  latitude: float
  longitude: float
  facility_type: string
  ownership: string
  data_source: string
  year: integer